OLLAMA_MODELS=F:\OllamaModels
OLLAMA_MODEL=phi3
EDITH_PLANNER_MODEL=phi3
EDITH_CREATIVE_MODEL=mistral
EDITH_FAST_MODEL=phi3
EDITH_AUTO_LISTEN=1
EDITH_REQUIRE_WAKE_WORD=0
EDITH_LIGHTWEIGHT_MODE=1
EDITH_AUTO_PULL_MODELS=1
